<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Liefertouren</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="content-container">
            <img src="<%=src.qrcode%>" alt="qr code image">
        </div>
        <ul>
            <% for (const [key, value] of Object.entries(src.data)) {%>
                <li><%=key%>%>: <%=value%></li>
            <% } %>
        </ul>
    </body>
</html>
